header section {
  background-image: url("/src/assets/icons/Hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 286px;
  padding: 34px 152px 32px 152px;
}

.banner {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 16px;
  justify-content: flex-end;
  align-items: flex-start;
  font-weight: 700;
  color: white;
}

.banner h1 {
  font-size: 52px;
}

.banner p {
  font-size: 22px;
}

.banner button {
  width: 130px;
  height: 51px;
  background-color: var(--buttonBlue);
  font-size: 16px;
  font-weight: 400;
  color: white;
  transition: all 300ms ease-out;
}

.banner button:hover {
  background-color: var(--buttonBlueHover);
  transform: scale(1.05);
}

main {
  padding: 64px 152px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  background-color: rgb(245, 245, 245);
}

main section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.containerName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.containerName h2 {
  font-weight: 700;
  font-size: 32px;
  color: #464646;
}

.containerName a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  height: 24px;
  font-weight: 700;
  color: #2a7ae4;
}

.containerName button {
  padding: 0;
  width: 164px;
  height: 51px;
  background-color: var(--buttonBlue);
  font-size: 16px;
  font-weight: 400;
  color: white;
  transition: all 300ms ease-out;
}

.containerName button:hover {
  background-color: var(--buttonBlueHover);
  transform: scale(1.05);
}

.containerProducts {
  display: flex;
  gap: 16px;
}

.containerAllProducts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 48px 16px;
}

.product,
.allProduct {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #464646;
  position: relative;
}

.product:nth-child(n + 7) {
  display: none;
}

.product h3,
.allProduct h3 {
  font-weight: 500;
  font-size: 14px;
}

.product p,
.allProduct p {
  font-weight: 700;
  font-size: 16px;
}

.product a,
.allProduct a {
  color: #2a7ae4;
  font-weight: 700;
  font-size: 16px;
}

.allProduct h6 {
  font-size: 14px;
  font-weight: 500;
}

.containerIcons {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  gap: 16px;
}

.icon {
  max-width: 18px;
  height: 18px;
  cursor: pointer;
}

.icon:first-of-type {
  max-width: 14px;
}

@media (max-width: 768px) {
  main,
  header section {
    padding: 32px !important;
  }

  .product:nth-child(n + 5) {
    display: none;
  }

  .product img,
  .allProduct img {
    width: 164px;
  }

  .containerAllProducts {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 425px) {
  main,
  header section {
    padding: 16px !important;
  }

  .containerProducts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .containerAllProducts {
    grid-template-columns: 1fr 1fr;
  }

  .banner h1 {
    font-size: 22px;
    font-weight: 700;
  }

  .banner p {
    font-size: 14px;
    font-weight: 600;
  }

  .banner button {
    width: 119px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
  }

  .containerName h2 {
    font-size: 22px;
  }

  .containerName a {
    font-size: 14px;
  }

  .product img,
  .allProduct img {
    width: 156px;
  }

  .containerName button {
    font-size: 14px;
    font-weight: 600;
    width: 156px;
    height: 42px;
  }

  .containerNameAllProducts {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    margin-left: 16px;
  }

  #allProducts {
    gap: 64px;
  }

  .containerIcons {
    right: 42px;
  }
}
